@font-face {
    font-family: 'Special';
    src: url('Special-Regular.woff2') format('woff2'),
        url('Special-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

